.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  font-family: 'Roboto';
}

.accountId {
  height: 36px;
  width: 90px;
  border: none;
  border-radius: 8px;
  background-color: blue;
}
